body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contain{
    width: 30%;
    height:80vh;
    box-shadow: -5px 6px 22px 6px rgba(0,0,0,0.68);
-webkit-box-shadow: -5px 6px 22px 6px rgba(0,0,0,0.68);
-moz-box-shadow: -5px 6px 22px 6px rgba(0,0,0,0.68);
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}