* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #e9a449;
    outline: 1px solid #000;
}

a{
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.navbaar {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.5s;
}

.navbaar.sticky {
    background: rgba(0, 0, 0, 0.8);
}

.navbaar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbaar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbaar ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
    position: relative;
}

.navbaar ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.navbaar ul li::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    right: 0;
    background: #fff;
    top: -5px;
    transition: 0.3s;
}

.navbaar ul li::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    left: 0;
    background: #fff;
    top: -4px;
    transition: 0.3s;
}

.navbaar ul li:hover::after{
    transition-delay: 0.3s;
    height: 35px;
}

.navbaar ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    background: #fff;
    bottom: -5px;
    transition: 0.3s;
}

.navbaar ul li a::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    right: 0;
    background: #fff;
    bottom: -4px;
    transition: 0.3s;
}

.navbaar ul li a:hover::after{
    transition-delay: 0.3s;
    height: 35px;
}

.navbaar ul li a:hover::before {
    width: 100%;
}

.navbaar ul li:hover::before {
    width: 100%;
}

.navbaar i {
    font-size: 26px;
    color: #fff;
    display: none;
}

.navbaar.active ul {
    top: 0;
}

.navbaar.active ul .fa-xmark {
    display: block;
}

.fa-xmark {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: black;
    padding: 20px 25px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.logoAnchor {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.logoAnchor:hover{
    color: #fff;
}

.logoAnchor:focus{
    color: #fff;
}

.banner {
    width: 100%;
    height: calc(100vh - 78px);
    background: url("/assets/images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 150px;
}

.banner h1 {
    color: #fff;
    font-size: 50px;
}

.banner h5 {
    color: #fff;
    font-size: 22px;
}

.banner a {
    font-size: 22px;
    padding: 10px 50px;
    background: #e9a449;
    text-decoration: none;
    color: #fff;
    margin-top: 40px;
    transition: 0.5s ease-out;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.banner a:focus {
    color: #fff;
}

.banner a i {
    padding-left: 10px;
    transition: 0.6s ease;
}

.banner a:hover {
    color: #fff;
    /* background: transparent; */
    border: 1px solid #fff;
    text-decoration: none;
    /* padding-right: 50px; */
}

.banner a:hover i {
    padding-left: 30px;
}

#loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

#loader h1 {
    font-size: 50px;
    color: #fff;
}

.buyBtn {
    color: #e9a449;
    border: 2px solid #ffffff;
    background: none;
    width: 20%;
    font-size: 16px;
    padding: 10px 0;
    font-style: 900;
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-60%, -47%);
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in-out;
}

.buyBtn:hover {
    background: #e29c40;
    color: #ffffff;
}

.cards {
    width: 100%;
    height: 100%;
}

.cardsh2 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 40px;
}

.main-card {
    width: 100%;
    height: 100%;
    border: 1px solid #9b9797;
    padding: 10px;
}

.main-card img {
    width: 100%;
}

.cardsDiv {
    width: 100%;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    padding-bottom: 40px;
    margin-bottom: 20px;
    background: #fff;
}

.cardsDiv img {
    width: 100%;
    border-bottom: 1px solid #000;
}

p.card-text {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 20px;
}

p#Price {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
    text-transform: uppercase;
    padding: 20px 0;
}

h4#title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px;
}

.h2DIv {
    width: 100%;
}

h2.cardsh2 {
    font-family: 'Poppins';
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px auto;
    margin-top: 0;
}

.orderBtn {
    padding: 10px 20px;
    background: #e9a449;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
    transition: 0.4s;
}

.orderBtn i {
    padding-left: 5px;
    transition: 0.5s;
}

/* .orderBtn:hover i {
    padding-left: 10px;
} */

.orderBtn:focus {
    color: #fff;
}

.orderBtn:hover {
    color: #fff;
}

.userDetailLi{
    position: relative;
    list-style: none;
}

.userDetailLi img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.userDetail {
    width: 200px;
    background: #e9a449;
    position: absolute;
    top: 72px;
    left: -118px;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}

.userDetailDiv{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userDetailDiv h3{
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
}

.userDetail a{
    color: #fff;
    text-decoration: none;
}

.userDetail a:hover{
    color: #fff;
}

.userDetail a:focus{
    color: #fff;
}

.userDetailDiv h3 a::before{
    display: none;
}

.register{
    width: 100%;
    /* height: 100vh; */
    background: url(/assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.login{
    height: 100vh;
}

.registerWrapper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    transition: 0.5s ease;
}

.welcomeUser{
    color: #fff;
}

.myproducts{
    width: 100%;
    height: 100%;
    background: #e9a449;
}

.addProduct{
    width: 100%;
    height: 100%;
    background: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addProductWrapper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.addProduct input{
    width: 50%;
    height: 100%;
    border: none;
    background: #e9a449;
    /* padding: 0 6px; */
    outline:none;
    transition: 0.5s;
    color: #fff !important;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid #fff;
}

.addProduct textarea{
    width: 50%;
    height: 100%;
    border: none;
    background: #e9a449;
    /* padding: 0 6px; */
    outline:none;
    transition: 0.5s;
    color: #fff !important;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid #fff;
}

.addProduct select{
    background: #e9a449;
    /* padding: 10px 20px; */
    padding: 10px;
    color: #fff;
    font-size: 20px;
    outline: none;
    border: 2px solid #fff;
}

.DeliveryDIV{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.addProduct button{
    /* display: block; */
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 20px;
    background: #e9a449;
    color: #fff;
    border: 2px solid #fff;
}

.addProduct input::placeholder{
    color: #fff;
}

.addProduct textarea::placeholder{
    color: #fff;
}

.productDIV
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDIV label{
    border: 2px solid #fff; 
    padding: 10px; 
    margin-top: 40px; 
    text-decoration: none; 
    color: #fff;
    background: #e9a449;
    cursor: pointer;
}

.previewImg{
    width: 150px;
    height: 150px;
}

.res-login-fld{
    margin-top: 20px;
    display: none;
    transition: 0.5s ease;
}

.NoProduct{
    color: #fff;
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px 0;
    text-transform: uppercase;
}

.floatMsg{
    position: fixed;
    bottom: 30px;
    left: -100%;
    background: #e9a449;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #fff;
    transition: 0.6s;
}

.floatMsg.active{
    left: 10px;
}

.floatMsg i{
    color: #fff;
}

.floatMsg h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.banner #bannerSpan{
    font-size: 30px !important;
}

.DeliveryDIV span {
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #fff;
    border-left: 3px solid transparent;
    font-size: 7px !important;
    margin-left: 6px;
    animation: rotate 1s linear infinite;
    position: relative;
    margin-left: 10px;
}

.DeliveryDIV span::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
}

#Regloader {
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #fff;
    border-left: 3px solid transparent;
    font-size: 7px !important;
    margin-right: 6px;
    animation: rotate 1s linear infinite;
    position: relative;
}

#Regloader::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
}



@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
}
}

.addProduct button{
    display: flex;
    align-items: center;
    outline: none;
}

.customerBanner{
    height: 100vh;
}

.homeSection{
    width: 100%;
    height: 100vh;
    background: #e29c40;
}

.homeSection h1{
    margin: 0;
}

@media (max-width:900px) {

    .cartCount {
        background: #ffff !important;
        color: #e9a449;
    }
    .userDetailLi{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .userDetail{
        top: 72px;
        left: -76px;
    }
    .navbaar {
        position: relative;
        background: #000;
        justify-content: space-between;
    }

    .navbaar.sticky {
        background: #000;
    }

    .navbaar ul {
        width: 100%;
        height: 100vh;
        display: flex;
        background: #e29c40;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        position: fixed;
        left: 0;
        top: -100%;
        border: 2px solid #fff;
        transition: 0.5s;
        z-index: 1;
    }

    .navbaar ul li {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .navbaar i {
        display: block;
        cursor: pointer;
    }

}

@media (max-width:600px) {
    .banner {
        padding-left: 10px;
    }
    .addProduct input{
        width: 100%;
        margin: 10px;
    }
    .addProduct textarea{
        width: 100%;
        margin: 10px;
    }
    .addProduct select {
        width: 100%;
        margin: 10px;
    }
    .DeliveryDIV{
        padding: 20px 10px;
    }
}

.card-para{
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 15px 20px !important;
    text-transform: none !important;
}

.uploadCat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 0px 20px;
    flex-wrap: wrap;
}

.uploadCat span {
    font-size: 14px;
    font-weight: 500;
}

.cardH4{
    font-size: 26px;
}

@media (max-width:1120px) and (min-width:992px){
    .uploadCat{
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:992px) and (min-width:767px){
    .cards .row{
        justify-content: center;
    }
}

.aboutSection{
    width: 100%;
    padding: 0 0 80px 0;
    background: #e9a449;
}

.aboutSection h1{
    border: 2px solid #fff;
    background: #e9a449;
    margin: 0;
}

.aboutSection h2.cardsh2{
    color: #000;
    border-color: #fff;
    background: #e9a449;
}

.aboutShad{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); */
padding: 10px;
}

.aboutImg{
    width: 100%;
    height: 100%;
}

.aboutImg img{
    width: 100%;
    height: 100%;
}

.aboutTxt{
    width: 100%;
    height: 100%;
}

.aboutTxt h3{
    color: #000;
    font-size: 40px;
}

.aboutTxt p{
    color: #000;
    font-size: 16px;
}

.contact{
    width: 100%;
    background: url(/assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.contactWrapper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 0 0 50px 0;
}

.contact h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.contactSection{
    width: 100%;
    height: 100%;
}

.contactSection h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}

.contactInput{
    width: 100%;
}

.contactInput label{
    width: 100%;
    color: #fff;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: normal;
}

.contactInput input{
    width: 100%;
    padding: 10px;
    outline: none;
    /* color: #000; */
    font-weight: normal;
    background: #e9a449;
    border: none;
    border: 2px solid #fff;
}

.contactInput input::placeholder{
    color: #fff;
}

.contactInput textarea::placeholder{
    color: #fff;
}

.contactInput textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: normal;
    background: #e9a449;
    border: none;
    border: 2px solid #fff
}

.contact .contactBTN{
    background: #e9a449;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 50px;
    display: inline-block;
    margin: 0 auto;
    transition: 0.6s ease;
    text-transform: uppercase;
    margin: 20px auto 90px auto;
}

.contact .contactBTN:hover{
    color: #e9a449;
    background: #fff;
    border-color: #e9a449;
}

.buySection{
    width: 100%;
    background: url(/assets/images/banner.jpg);
    background-position: center;
    background-size: cover;;
}

.buySectionOverlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 90px 0;
}

.buySection h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.buyCards{
    width: 100%;
    background: #fff;
    position: relative;
    /* padding-bottom: 50px; */
}

.buyCards img{
    width: 100%;
    height: 100%;
}

.BuycardSec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.moreRes{
    padding: 6px;
    box-shadow: 0px 0px 0px 3px rgba(233,164,73,0.75) inset;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(233,164,73,0.75) inset;
    -moz-box-shadow: 0px 0px 0px 3px rgba(233,164,73,0.75) inset;
    transition: 0.5s ease;
    cursor: pointer;
}

.moreRes:hover{
    background: #e9a449;
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.75) inset;
-webkit-box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.75) inset;
-moz-box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.75) inset;
}

.moreRes:hover span{
    color: #fff;
}

.moreRes span{
    text-transform: capitalize;
    color: #e9a449;
    cursor: pointer;
    padding-left: 10px;
}

.buyCards .heartDiv{
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 45px;
    color: #fff;
    cursor: pointer;
}

.buyCards .heartDiv input{
    display: none;
}

.buyCards .heartDiv i{
    transition: 0.5s ease;
    cursor: pointer;
    text-shadow: 0px 0px 2px #000000;
}

.buyCards .heartDiv input:checked ~ i{
    color: #e9a449;
}

.buyCards h3{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.buyCards h4{
    text-align: center;
    font-size: 16px;
}

.buyCards .price{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}

.plusMinus{
    display: flex;
    align-content: center;
    justify-content: center;
}

.plusMinus a {
    font-size: 30px;
    color: #e9a449;
    font-weight: 600;
    padding: 10px 0 0 0;
}

.plusMinus input{
    width: 15%;
    text-align: center;
    font-size: 24px;
    margin: 10px 10px ;
    outline: none;
}

.plusMinus a:hover{
    color: #e9a449;
}

.plusMinus a:focus{
    color: #e9a449;
}

.addtoCartAnchorDiv{
    display: flex;
    justify-content: center;
}

.addToCartAnchor{
    color: #fff;
    background: #e9a449;
    padding: 10px 50px;
    display: inline-block;
    margin: 20px 0;
}

.addToCartAnchor:hover{
    color: #fff;
}

.addToCartAnchor:focus{
    color: #fff;
}

.cartCount {
    background: #e9a449;
    padding: 10px 7px;
    border-radius: 50%;
    font-size: 12px;
    top: -1.4em;
}

.addProduct button:focus{
    outline: none;
}

.del_popup {
    padding: 15px 35px;
    background: #e9a449;
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
    position: fixed;
    z-index: 3;
    /* left: 27px; */
    left: -100%;
    bottom: 35px;
    transition: 0.6s ease;
}

.del_popup.active{
    left: 27px;
}

.login-btn{
    position: relative;
}

.login-btn::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 43%;
    padding: 10px;
    background: transparent;
    border: 2px solid #fff;
    border-left: 2px solid transparent;
    border-radius: 50%;
    animation: rotate 500ms linear infinite;
    display: none;
}

.login-btn.active{
    opacity: 0.8;
}

.login-btn.active input{
    color: #e9a449;
    opacity: 0.8;
}

.login-btn.active::before{
    display: block;
}

.signup-btn{
    position: relative;
}

.signup-btn::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 43%;
    padding: 10px;
    background: transparent;
    border: 2px solid #fff;
    border-left: 2px solid transparent;
    border-radius: 50%;
    animation: rotate 500ms linear infinite;
    display: none;
}

.signup-btn.active input{
    color: #e9a449;
}

.signup-btn.active::before{
    display: block;
}

#buyLoader {
    height: 61.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buyLoader h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

#buyLoader h2{
    font-size: 50px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

#buyLoader span {
    padding: 10px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    background: transparent;
    border-radius: 50%;
    margin: 9px 4px 0 6px;
    animation: rotate 500ms linear infinite;
}

.productCount {
    padding: 11px 20px;
    font-size: 20px;
    border: 1px solid #e9a449;
    margin: 0 10px;
    text-align: center;
}

/* .footer{
    width: 100%;
    height: 100%;
    border-top: 3px solid #fff;
    padding: 20px 40px;
}

.footerTxt{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.footerTxt h3{
    color: #fff;
    font-size: 32px;
}

.footerTxt p{
    color: #fff;
    font-size: 16px;
}

.footerLinks{
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.footerLinks ul li{
    list-style: none;
    padding-bottom: 15px;
}

.footerLinks ul li a{
    color: #fff;
    font-size: 22px;
}

.footerMsg{
    width: 100%;
    height: 100%;
}

.footerMsg h3{
    font-size: 22px;
    color: #fff;
}

.footerMsg input{
    width: 60%;
    padding: 10px;
    background: #e9a449;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    font-size: 18px;
}

.footerMsg input::placeholder{
    color: #fff;
}

.footerMsg a{
    display: block;
    color: #fff;
    padding: 10px 30px;
    background: #e9a449;
    margin: 10px auto 0 0;
} */