body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    font-family: "Poppins" !important;
}
.avatar{
    width: 100px;
    height: 110px;
    border-radius: 50%;
    margin: 5px;
}
.login-fld {
    width: 75%;
    margin-bottom: 23px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: 2px solid #fff;
}
.login-fld input {
    width: 100%;
    height: 100%;
    border: none;
    background: #e9a449;
    /* padding: 0 6px; */
    outline:none;
    transition: 0.5s;
    color: #fff;
    padding: 10px;
}
.login-fld input::placeholder{
    font-family: "Poppins";
    font-size: 14px;
    color: #fff;
}
.login-btn {
    width: 35%;
    height: 43px;
    background: #e9a449;
    border-radius: 4px;
    transition: 0.5s;
    border: none;
    border: 2px solid #fff;
}

.login-btn input {
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: "Poppins";
    background: transparent;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background: transparent !important;
}

.login-btn input:focus{
    background-color: transparent;
}
.register h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #e9a449;
    padding: 20px 0 11px;
}
.register p {
    font-size: 16px;
    padding: 10px 0;
    color: #fff;
    margin: 0;
}
.register a {
    text-decoration: none !important;
    color: #e9a449;
    font-size: 18px;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

.register a:hover{
    color: #e9a449;
}

.register a:focus{
    color: #e9a449;
}

.role-fld select{
    display: block;
    background: #e9a449;
    border: none;
    outline: none;
    padding: 10px 20px;
    padding-left: 10px;
    color: #fff;
    border: 2px solid #fff;
}

.imgDiv {
    margin-bottom: 41px;
    margin-left: 90px;
    width: 100px;
    height: 100px;
    display: block;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
}

.imgDiv label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imgDiv input{
    display: none;
}

.imgDiv img{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
}

